
.header-container {
    display:flex;
    justify-content: space-between;
    align-items: center;
  background-color: #0F1111;
  height: 80px;
  
  
 
}
.header-container img{
margin-left: 140px;
}


.header-content-right{
    margin-right: 90px;
}

.header-content-right a {

  color: #ffffff;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.005em;
  text-decoration: none;
  margin-right: 35px;

}
.pq{
  position: absolute;
}
.dollar-icon{
  font-size:25px ;
  color: #ffffff;
 padding-right:30px;
 padding-left:50px;
 position:relative
 
}




.cart-icon{
  font-size:25px;
  color: #ffffff;
  position: relative;
  
}
